body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: darkslategray;
    line-height: 1.6;
}
h1,h2,h3{
    margin-bottom: 10px;
    color: midnightblue;
}
p{
    margin: 8px 0;
}
section{
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: midnightblue;
    color: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 1.2em;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
     gap: 18px;
     margin: 0;
     padding: 0;
}
nav ul li a{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.3s;
}
nav ul li a:hover{
    color: deepskyblue;
}
.hero{
    text-align: center;
    padding: 100px 20px 80px;
}
.hero h1{
    font-size: 2.4em;
}
.hero p{
    color: dimgray;
    font-size: 1em;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
}
.card{
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.skills{
    background-color: midnightblue;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.85em;
}
.education-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
}
.education-item{
    background: white;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 300px;
    max-width: 350px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}
.education-item img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.education-item:hover{
    transform: translateY(-4px);
}
footer{
    text-align: center;
    background-color: midnightblue;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
@media (max-width: 768px){
    nav{
        flex-direction: column;
        gap: 10px;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    .hero h1{
        font-size: 1.8em;
    }
    .education-container{
        flex-direction: column;
        gap: 15px;
    }
}

















